

input{
  border: blueviolet solid 1px;
  border-radius: 20px;
  height: 50px;
  outline: none;
  margin: 5px;
}
input:focus{
  box-shadow: 0 0 0 3px rgb(89, 68, 122);
  padding-left: 10px;
}

.mainPageBlock{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.authForm{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  min-width: 550px;
  height: 50%;
  min-height: 500px;
  border: blueviolet solid 5px;
  border-radius: 20px;
  box-shadow: 5px 5px 40px 10px rgb(89, 68, 122);
  padding: 15px;
}

.formStyle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.elementAuth{
margin-bottom:  20px;
width: 70%;
display: flex;
justify-content: space-around;
}

.lableForm{
width: 190px;
margin-right: 50px;
display: flex;
justify-content: center;
align-items: center;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 1.5em;
}

.inputForm{
width: 100%;
}

.errorMessage{
display: flex;
justify-content: center;
align-items: center;
color: red;
text-align: center;
}


@media all and (max-width: 750px) {
input{
height: 35px;

}
.elementAuth{
margin-bottom:  10px;
flex-direction: column;
}


.authForm{
width: 95%;
min-width: 300px;
height: 95%;
min-height: 400px;
padding: 5px;
box-shadow: none;
}

.inputForm{
width: 100%;
}

.lableForm{
width: 100%;
margin-right: none;
}

}
@media all and (max-width: 300px) {
.authForm{
width: 100%;
min-width: 280px;
height: 100%;
min-height: 400px;
border: none;

}

}
